[submodule "deps/clipp"]
	path = deps/clipp
	url = ../../muellan/clipp.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = ../../gabime/spdlog.git
[submodule "deps/tensorboard_logger"]
	path = deps/tensorboard_logger
	url = ../../RustingSword/tensorboard_logger.git
[submodule "deps/murmur3"]
	path = deps/murmur3
	url = ../../PeterScott/murmur3